@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Inter:wght@300;400;700&family=Outfit:wght@300&family=Space+Grotesk:wght@500&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.main__container{
    height: 100vh;
    background-image:linear-gradient(to bottom, #00000000, #000000), url("../assets/desktop/bg-image-daytime.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
    padding-left: 11.458333333333332%;
    padding-right: 11.458333333333332%;
    padding-top: 8.125%;
    position: relative;
}

.quote__container{
    width: 573px;
    height: 125px;
    flex-shrink: 0;
    position: relative;
}
.quote__container > h1{
    width: 540px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.quote__container > h2{
    margin-top: 13px;
    width: 540px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}
.quote__container > img{
    padding-top: 10.67px;
    padding-left: 15.67px;
    width: 16.667px;
    height: 16.667px;
    flex-shrink: 0;
    color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.refreshBtn:hover{
    color: #000;
}
.time__container{
    margin-top: 16.180555555555557%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.time__container > div:nth-child(1){
    display: flex;
    align-items: center;
    gap:16px;
}

.time__container > div:nth-child(1) > svg{
    width: 24px;
    height: 24px;
}    

.time__container > div:nth-child(1) > h1{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: 4px;
    text-transform: uppercase;
}

.time__container >div:nth-child(2){
    flex-shrink: 0;
    display: flex;
    gap:11px;
}

.time__container >div:nth-child(2) > h1{
    color: #FFF;
    font-family: Inter;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: 200px; /* 100% */
    letter-spacing: -5px;
}
.time__container > div:nth-child(2) > h2{
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 70% */
    text-transform: uppercase;
    align-self: end;
    margin-bottom: 27px;
}

.time__container > div:nth-child(3) > h1{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
    letter-spacing: 4.8px;
    text-transform: uppercase;
} 

.more__btn{
    display: flex;
    cursor: pointer;
    gap: 13px;
    align-items: center;
    justify-content: center;
    width: 146px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 28px;
    background: #FFF;
    align-self: end;
    margin-left: 27.013888888888886%;
}
.more__btn > h1{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 175% */
    letter-spacing: 5px;
    text-transform: uppercase;
}
.more__btn > img{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.timeData{
    display: flex;
}

.info__container{
    position: absolute;
    display: none;
    left: 0;
    bottom: 0;
    height: 400px;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20.387113571166992px);
    justify-content: space-around;
    align-items: center;
}

.timezone_year__container{
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.timezone > h2{
    color: #303030;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.timezone > h1{
    margin-top: 9px;
    color: #303030;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.yearday > h2{
    color: #303030;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    letter-spacing: 3px;
    text-transform: uppercase;
}
.yearday > h1{
    margin-top: 9px;
    color: #303030;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.splitline{
    width: 1px;
    height: 252px;
    flex-shrink: 0;
    opacity: 0.25;
    background: #303030;
}
.weeddaynum{
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.weeddaynum > div:nth-child(1) > h2{
    color: #303030;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    letter-spacing: 3px;
    text-transform: uppercase;
}
.weeddaynum > div:nth-child(1) > h1{
    margin-top: 9px;
    color: #303030;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.weeddaynum > div:nth-child(2) > h2{
    color: #303030;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    letter-spacing: 3px;
    text-transform: uppercase;
}
.weeddaynum > div:nth-child(2) > h1{
    margin-top: 9px;
    color: #303030;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


@media only screen and (max-width: 1070px){
    .main__container{
        background-image: url("../assets/tablet/bg-image-daytime.jpg");
        padding-left: 5.989583333333334%;
        padding-right: 5.989583333333334%;
    }
    .quote__container{
        width: 525px;;
        height: 125px;
        flex-shrink: 0;
        margin-bottom: 27.013888888888886%;
    }
    .quote__container > h1{
        width: 520px;
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
    }
    .quote__container > h2{
        width: 540px;
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 155.556% */
    }
    .quote__container > img{
        width: 16.667px;
        height: 16.667px;
        flex-shrink: 0;
    }
    .time__container > div:nth-child(1) > h1{
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
        letter-spacing: 3.6px;
        text-transform: uppercase;
    }
    .time__container > div:nth-child(1) > img{
        width: 24px;
        height: 24px;
    }
    .time__container > div:nth-child(2) > h1{
        color: #FFF;
        font-family: Inter;
        font-size: 175px;
        font-style: normal;
        font-weight: 700;
        line-height: 175px; /* 100% */
        letter-spacing: -4.375px;
    }
    .time__container > div:nth-child(2) >h2{
        color: #FFF;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px; /* 87.5% */
        text-transform: uppercase;
    }
    .time__container > div:nth-child(2) >h2{
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 155.556% */
        letter-spacing: 3.6px;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    .time__container > div:nth-child(3) > h1{
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 155.556% */
        letter-spacing: 3.6px;
        text-transform: uppercase;
    }
    .more__btn{
        width: 146px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 28px;
        background: #FFF;
        align-self: start;
        margin: 0;
        margin-top: 80px;
    }
    .more__btn > h1{
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 175% */
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .timeData{
        display: flex;
        flex-direction: column;
    }
     
    .timezone > h2{
        color: #303030;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 215.385% */
        letter-spacing: 2.6px;
        text-transform: uppercase;
    }
    .timezone > h1{
        color: #303030;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .yearday > h2{
        color: #303030;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 215.385% */
        letter-spacing: 2.6px;
        text-transform: uppercase;
    }
    .yearday > h1{
        color: #303030;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .weeddaynum > div:nth-child(1) > h2{
        color: #303030;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 215.385% */
        letter-spacing: 2.6px;
        text-transform: uppercase;
    }
    .weeddaynum > div:nth-child(1) > h1{
        color: #303030;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .weeddaynum > div:nth-child(2) > h2{
        color: #303030;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 215.385% */
        letter-spacing: 2.6px;
        text-transform: uppercase;
    }
    .weeddaynum > div:nth-child(2) > h1{
        color: #303030;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .splitline{
        display: none;
    }
}

@media only screen and (max-width: 572px){
    .main__container{
        background-image: url("../assets/mobile/bg-image-daytime.jpg");
        padding-left: 6.666666666666667%;
        padding-right: 6.666666666666667%;
    }
    .quote__container{
        margin-bottom: 34.03298350824588%;
        width: 305px;
    }
    .quote__container > h1{
        color: #FFF;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 183.333% */
        width: 290px;
    }
    .quote__container > h2{
        color: #FFF;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 183.333% */
        width: inherit;
    }
    .quote__container > img{
        width: 16.667px;
        height: 16.667px;
        flex-shrink: 0;
    }
    .timeData{
        width: 278px;
    }

    .time__container > div:nth-child(1) > h1{   
        color: #FFF;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 166.667% */
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .time__container > div:nth-child(1) > img{
        width: 24px;
        height: 24px;
    }
    .time__container > div:nth-child(2) > h1{
        color: #FFF;
        font-family: Inter;
        font-size: 100px;
        font-style: normal;
        font-weight: 700;
        line-height: 100px; /* 100% */
        letter-spacing: -2.5px;
        height: 100px;
    }
    .time__container > div:nth-child(2) > h2{
        color: #FFF;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px; /* 186.667% */
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .time__container > div:nth-child(3) > h1{
        color: #FFF;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 186.667% */
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .more__btn{
        width: 115px;
        height: 39px;
        flex-shrink: 0;
        gap:16px;
    }

    .more__btn > h1{
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px; /* 116.667% */
        letter-spacing: 3.75px;
        text-transform: uppercase;
    }
    .more__btn > img{
        width: 32px;
        height: 32px;
        flex-shrink: 0;
    }
    .info__container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .timezone{
        display: flex;
        flex-direction: row;
    }
    .timezone > h2{
        color: #303030;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 280% */
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .timezone >h1{
        color: #303030;
        text-align: right;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .yearday{
        display: flex;
        flex-direction: row;
    }
    .yearday > h2{
        color: #303030;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 280% */
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .yearday >h1{
        color: #303030;
        text-align: right;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .dayofweek{
        display: flex;
        flex-direction: row;
    }
    
    .weeknum{
        display: flex;
        flex-direction: row;
    }
    .weeddaynum > div:nth-child(1) > h2{
        color: #303030;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 280% */
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .weeddaynum > div:nth-child(1) > h1{
        color: #303030;
        text-align: right;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    
    .weeddaynum > div:nth-child(2) > h2{
        color: #303030;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 280% */
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .weeddaynum > div:nth-child(2) > h1{
        color: #303030;
        text-align: right;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
}